.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    max-width: 1350px;
}

.title {
    font-size: 3.2em;
    text-align: center;
}

.statusBar {
    display: flex;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: -20px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.button {
    background-color: black;
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    width: fit-content;
}

.levelUp {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.levelUp .button {
    padding: 0px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.character {
    display: flex;
    flex-direction: column;
}

.characterTop, .characterBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 350px;
}

.characterSection {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 450px;
}

.sectionName {
    align-self: center;
    font-weight: 600;
}

.itemName {

}

.abilities {
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    @media all and (max-width: 899px) {
        border-right: 0px solid black;
    }
}

.permanentSpells {
    border-bottom: 1px solid black;
    border-right: 1px solid black;

    @media all and (max-width: 1349px) {
        border-right: 0px solid black;
    }

    @media all and (max-width: 899px) {
        border-right: 0px solid black;
    }
}

.items {
    border-bottom: 1px solid black;
}

.randoSpells {
    border-right: 1px solid black;

    
    @media all and (max-width:1049px) {
        border-bottom: 1px solid black;
    }

    @media all and (max-width: 899px) {
        border-right: 0px solid black;
    }
}